@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "IBM Plex Mono";
  color: #fff;
  background-color: #1a1e23;
}

.container {
  position: relative;
  width: 1480px;
  margin: 0 auto;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 30px;
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.navbar .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #12f7d6;
  border-radius: 1px;
}
.navbar span {
  margin-right: 15px;
  color: #12f7d6;
}
.navbar ul.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  list-style: none;
}
.navbar ul.main-nav li {
  opacity: 0.4;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar ul.main-nav li:hover {
  opacity: 0.7;
}
.navbar ul.main-nav li.active {
  opacity: 1;
}
.navbar ul.main-nav li a {
  display: block;
  padding: 5px 10px;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 75vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about .animation {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(100% 100%, 0 88%, 45% 77%, 15% 70%, 42% 49%, 34% 27%, 8% 19%, 55% 16%, 14% 6%, 100% 0);
          clip-path: polygon(100% 100%, 0 88%, 45% 77%, 15% 70%, 42% 49%, 34% 27%, 8% 19%, 55% 16%, 14% 6%, 100% 0);
}
.about .intro {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.about .intro .intro-text {
  line-height: 1.2;
  font-size: 5.4rem;
  font-weight: 400;
  color: #12f7d6;
}
.about .description {
  margin: 40px 0 110px 0;
  line-height: 2;
  font-weight: 300;
  font-size: 1.6rem;
}
.about .cta-button {
  margin-right: 40px;
  padding: 19px 24px;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1a1e23;
  background-color: #12f7d6;
  font-family: "IBM Plex Mono";
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: none;
  -webkit-box-shadow: 0 0 20px #12f7d6;
          box-shadow: 0 0 20px #12f7d6;
}
.about .cta-button span i {
  margin-left: 15px;
}
.about .cta-button:hover {
  color: #12f7d6;
  background-color: #1a1e23;
  -webkit-box-shadow: inset 0 0 5px #12f7d6, 0 0 20px #12f7d6;
          box-shadow: inset 0 0 5px #12f7d6, 0 0 20px #12f7d6;
}
.about .cv-button {
  margin-right: 40px;
  padding: 19px 24px;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #12f7d6;
  background-color: #1a1e23;
  font-family: "IBM Plex Mono";
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #12f7d6;
}
.about .cv-button:hover {
  color: #12f7d6;
  background-color: #1a1e23;
  -webkit-box-shadow: inset 0 0 5px #12f7d6, 0 0 20px #12f7d6;
          box-shadow: inset 0 0 5px #12f7d6, 0 0 20px #12f7d6;
}
.about .cv-button span i {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */