* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #111;
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.header__blurry-bg {
  position: absolute;
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.header__blurry-bg.blur {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__robot {
  width: 70%;
  margin: 20px 0;
}

.header__typing {
  width: 100%;
  min-height: 50%;
}

.header__typing > p {
  font-size: 1.8rem;
  padding: 6%;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: #adff2f;
  text-shadow: 0 0 2px #adff2f;
}

.header__typing > p::before {
  content: "> ";
}

.header__typing > p:nth-last-of-type(1)::after {
  content: "_";
  -webkit-animation: cursor 0.3s infinite alternate;
          animation: cursor 0.3s infinite alternate;
}

@-webkit-keyframes cursor {
  0%,
  30% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}

@keyframes cursor {
  0%,
  30% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: -50%;
  right: 0;
  height: 50%;
  background-color: #fff;
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.header__menu.show {
  top: 0;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
}

.header__menu-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 60%;
  padding-left: 10px;
  font-size: 1.3rem;
  border-bottom: 1px solid #ccc;
  letter-spacing: 1px;
  font-family: tahoma;
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  color: #555;
}

.header__menu-link i {
  width: 22px;
  margin-right: 5px;
  text-align: center;
}

.header__menu-link--last {
  border-bottom: none;
}

.header__menu-hamburger {
  position: absolute;
  left: 3%;
  top: 104%;
  width: 30px;
  height: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__menu-hamburger > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header__menu-hamburger span:nth-child(1) {
  top: 0;
}

.header__menu-hamburger span:nth-child(2) {
  top: calc(50% - 2px);
}

.header__menu-hamburger span:nth-child(3) {
  top: calc(50% - 2px);
}

.header__menu-hamburger span:nth-child(4) {
  top: calc(100% - 4px);
}

.header__menu-hamburger.open span:nth-child(1) {
  top: calc(50% - 2px);
  left: 50%;
  width: 0%;
}

.header__menu-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__menu-hamburger.open span:nth-child(4) {
  top: calc(50% - 2px);
  left: 50%;
  width: 0%;
}
/*# sourceMappingURL=style.css.map */