.about
  display: flex
  min-height: 75vh
  align-items: center
  position: relative
  &__intro
    flex-basis: 50%
    &-title
      line-height: 1.2
      font-size: 5.4rem
      font-weight: 400
      color: $primary
    &-description
      margin: 40px 0 110px 0
      line-height: 2
      font-weight: 300
      font-size: 1.6rem
    &-buttons
      .about__button
        margin-right: 40px
        padding: 19px 24px
        border-radius: 40px
        font-size: 1.8rem
        font-weight: 500
        transition: all $btn-trns-time ease-in-out
        &:hover
          @include empty-btn-hover
        &--talk
          border: none
          box-shadow: 0 0 16px $primary
          color: $secondary
          background-color: $primary
          &:hover
            @include filled-btn-hover
          &>span i
            margin-left: 15px
        &--cv
          border: 1px solid $primary
          color: $primary
          background-color: $secondary
          &>span i
            margin-left: 10px
  &__animation
    position: absolute
    top: 0
    left: 30%
    right: 0
    bottom: 0
    clip-path: polygon(100% 100%, 0 88%, 45% 77%, 15% 70%, 42% 49%, 34% 27%, 8% 19%, 55% 16%, 14% 6%, 100% 0)
