.about
  display: flex
  min-height: 75vh
  align-items: center
  position: relative
  .animation
    position: absolute
    top: 0
    left: 30%
    right: 0
    bottom: 0
    clip-path: polygon(100% 100%, 0 88%, 45% 77%, 15% 70%, 42% 49%, 34% 27%, 8% 19%, 55% 16%, 14% 6%, 100% 0)
  .intro
    flex-basis: 50%
    .intro-text
      line-height: 1.2
      font-size: 5.4rem
      font-weight: 400
      color: $primary
  .description
    margin: 40px 0 110px 0
    line-height: 2
    font-weight: 300
    font-size: 1.6rem
  .cta-button
    @include header-buttons($secondary, $primary)
    @include buttons-transition
    border: none
    box-shadow: 0 0 20px $primary
    span i
      margin-left: 15px
    &:hover
      @include header-buttons-animation
  .cv-button
    @include header-buttons($primary,$secondary)
    @include buttons-transition
    border: 1px solid $primary
    &:hover
      @include header-buttons-animation
    span i
      margin-left: 10px