.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $header-main-color;
  transition: $transition-hamburger-menu;

  @include media(large) {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 50px 1fr;
  }

  &__blurry-bg {
    position: absolute;
    transition: $transition-hamburger-menu;

    // Class for use in JS
    &.blur {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(2px);
    }
  }

  .robot {
    margin: 50px 0 20px;
    width: 60%;

    @include media(large) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 20px;
    }
  }

  .typing {
    @include media(large) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
    }

    & > p {
      padding: 6%;
      font-size: 2rem;
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
      color: #adff2f;
      text-shadow: 0 0px 2px #adff2f;

      &::before {
        content: "> ";
      }

      &:nth-last-of-type(1)::after {
        content: "_";
        animation: cursor 0.3s infinite alternate;

        @keyframes cursor {
          0%,
          30% {
            color: transparent;
            text-shadow: none;
          }
          70%,
          100% {
            color: rgba(173, 255, 47, 1);
            text-shadow: 0 0 2px #adff2f;
          }
        }
      }
    }
  }
}
