@mixin title-style
  font-size: 5.4rem
  color: $primary
  font-family: $font
  font-weight: 400
  position: relative
  display: inline-block
  &::after
    content: ''
    position: absolute
    bottom: 1px
    left: 125%
    width: 600%
    height: 1px
    background-color: $primary
