.header__menu {
  position: absolute;
  left: 100%;
  &:hover {
    left: 80%;
  }

  &-hamburger {
    position: absolute;
    left: -50px;
    top: 2%;
    width: 40px;
    height: 40px;

    & > * {
      position: absolute;
      left: 0;
      width: 100%;
      height: $burger-line-height;
      border-radius: 2px;
      background-color: white;
    }

    .hamburger__line1 {
      top: 0;
    }

    .hamburger__line2 {
      top: calc(50% - #{$burger-line-height / 2});
    }

    .hamburger__line3 {
      bottom: 0;
    }
  }

  &-list {
    list-style-type: none;
  }

  &-link {
    display: block;
    font-family: tahoma;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 12px 8px;
    background-color: #eee;
    color: #555;
    border-bottom: 1px solid #888;

    & > i {
      width: 22px;
      text-align: center;
    }

    &--last {
      border: none;
    }
  }
}
