.header__menu {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50%;
  background-color: #fff;

  &-hamburger {
    position: absolute;
    left: 5px;
    top: 105%;
    width: 40px;
    height: 40px;

    & > * {
      position: absolute;
      left: 0;
      width: 100%;
      height: $burger-line-height;
      background-color: red;
      border-radius: $burger-line-height / 2;
    }

    .hamburger__line-top {
      top: 0;
    }
    .hamburger__line-middle {
      top: calc(50% - #{$burger-line-height / 2});
    }
    .hamburger__line-bottom {
      bottom: 0;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style-type: none;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      // height: 46px;
      border: 2px solid blueviolet;
      flex-grow: 1;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    // justify-content: center;
    align-self: stretch;
    padding-left: 10px;
    border: 2px solid red;
    width: 60%;
    font-size: 1.3rem;
    // text-align: center;
    // font-family: tahoma;
    // letter-spacing: 1px;
    // text-decoration: none;
    // text-transform: capitalize;
    // font-style: normal;
    // color: #555;

    & > i {
      width: 22px;
      text-align: center;
    }

    &--last {
      border-bottom: none;
    }
  }
}
