.navbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 1
  background-color: $secondary
  @include laptop
    padding: 0 2%
  &__container
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 1480px
    margin: 0 auto
    padding: 30px 0
    font-size: 1.8rem
  &--line
    position: absolute
    bottom: 0
    height: 2px
    background-color: $primary
    border-radius: 1px
  &__name span
    margin-right: 15px
    color: $primary
  &__main-nav
    display: flex
    justify-content: space-between
    flex-basis: 40%
    list-style: none
    @include tablet
      display: none
    &-item
      opacity: .4
      transition: all 0.4s ease
      &:hover
        opacity: .7
      &--active
        opacity: 1
      >a
        display: block
        padding: 5px 10px
        overflow: hidden
        color: $white
        text-decoration: none
  &__mobile-nav
    display: none
    @include tablet
      display: block
      position: absolute
      top: 0
      left: 100%
      width: 65%
      background-color: #ddd
      list-style-type: none
      border-radius: 0 0 0 20px
      transition: transform .2s
      &--active
        transform: translateX(-100%)
      &-item
        text-align: center
        padding: 50px
        font-size: 3rem
        border-bottom: 1px solid #999
        &:last-child
          border: none
    .mobile-nav-toggle
      position: absolute
      top: 30px
      left: -90px
      width: 60px
      height: 45px
      // background-color: grey
      span
        position: absolute
        top: 0
        right: 0
        height: 4px
        background-color: #fff
      .menu-top
        width: 100%
      .menu-middle
        width: 70%
        top: 50%
        transform: translateY(-50%)
      .menu-bottom
        width: 40%
        top: 100%
        transform: translateY(-100%)
