nav
  display: flex
  justify-content: space-between
  padding: 30px 0
  font-size: 1.8rem

  span
    margin-right: 15px
    color: $primary

ul.main-nav
  display: flex
  justify-content: space-between
  flex-basis: 40%
  list-style: none
  a
    display: block
    padding: 5px 10px
    overflow: hidden
    color: $white
    text-decoration: none
    transition: all 0.25s ease-in-out
    &:hover
      text-shadow: 0 0 10px
  .active
    color: $primary