.skills
  overflow-x: hidden
  &__title
    @include title-style
  &__list
    display: flex
    flex-wrap: wrap
    padding: 100px 0
    position: relative
    &-item
      flex-basis: 21%
      height: 120px
      flex-direction: column
      justify-content: space-between
      align-items: center
      display: none
      img
        width: 60px
      &>p
        font-size: 1.8rem
        font-family: $font
      &--active
        display: block
        display: flex
        opacity: 0
        animation: fadeIn 3.5s linear

      // Fix some SVG's positioning
      &--nodejs>img,
      &--jquery>img,
      &--sass>img,
      &--stylus>img
        position: relative
      &--nodejs>img
        top: 20%
        width: 80px
      &--jquery>img
        top: 22%
        width: 80px
      &--sass>img
        top: 10%
      &--stylus>img
        top: 15%

    &-progress-bar
      @include progress-bar

@keyframes fadeIn
  0%
    opacity: 0
  50%
    opacity: 1
  80%
    opacity: 1
  100%
    opacity: 0
