# === Node / JS ===
node_modules/
dist/
build/
coverage/
*.log

# === Env / Secrets ===
.env
.env.*
!.env.example  # (jeśli chcesz zostawić wzór pliku .env w repo)

# === System / IDE ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
*.swp

# === Miscellaneous ===
*.class
*.pyc
vendor/
config.php
.aws-sam/

# === Terraform ===
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
crash.log

# === GGShield cache ===
.cache_ggshield