// Blur for background for mobile nav menu when opened
.blur
  filter: blur(3px)

// Toast element for errors
.toast
  display: none
  position: fixed
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  background-color: #f44
  color: #fff
  padding: 10px 20px
  border-radius: 5px
  z-index: 9999
  font-size: 1.4rem
