$burger-line-height: 4px;
$header-main-color: #111;
$font-color-menu-desktop: #ddd;
$font-color-menu-mobile: #555;

// Transition time is to animate burger icon, slide down menu and blur menu background
$transition-time-mobile-menu: 0.4s;
