name: Terraform CI (dev)

on:
  push:
    branches:
      - dev

jobs:
  terraform-ci:
    if: contains(github.event.head_commit.message, '[terraform]')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Init (without backend)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Set up TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Run TFLint
        run: tflint
